dill==0.3.5.1
from-root==1.0.2
# notebook==7.0.0a7
gdown
flask-cors
flask

# YOLOv5 requirements
# Usage: pip install -r requirements.txt

# pip install torch==2.5.1+cu124 torchvision==0.20.1+cu124 torchaudio==2.5.1 --extra-index-url https://download.pytorch.org/whl/cu124
opencv-python==4.7.0.72
ultralytics

-e .